openapi: '3.0.0'
info:
  version: 1.0.0
  title: EV - ZEFIR FUN CHATBOT
  license:
    name: MIT
servers:
  - url: http://zefir.api/v1
paths:
  /messages:
    get:
      summary: List all messages
      operationId: listMessages
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of messages
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create message
      operationId: createMessage
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}:
    get:
      summary: Get message info
      operationId: showMessageById
      parameters:
        - name: messageId
          in: path
          required: true
          description: The id of the message to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sessions:
    post:
      summary: Start session
      operationId: startSession
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Message:
      required:
        - id
        - text
      properties:
        id:
          type: integer
          format: int64
        text:
          type: string
        sender:
          type: string
    Messages:
      type: array
      items:
        $ref: '#/components/schemas/Message'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string